<!DOCTYPE html>
<html>
  <head>
    <title>Welcome on my second page !</title>
  </head>
  <body>
    <h1>Hello World again!</h1>

    <p>
      Our own "Hello World!" éàù 
    </p>
  </body>
</html>

