<!DOCTYPE html>
<html>
  <head>
    <title>Welcome on my first page !</title>
  </head>
  <body>
    <h1>Hello World !</h1>

    <p>
      Our own "Hello World!" éàù {{firstname}}_{{name}}
    </p>
  </body>
</html>

